@import './variables';

/* Prevent adjustments of font size when orientation changes  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-sm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    div {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: $prime;
        #menu {
            border: none;
            background: none;
            font-size: 16pt;
            font-weight: bold;
            color: white;
            margin-left: 10px;
        }
        #x {
            display: none;
            border: none;
            background: none;
            font-size: 16pt;
            font-weight: 400;
            font-family: $font;
            color: white;
            margin-left: 10px;
            transition: ease-in-out 0.2s;
        }
    }
    #dd-menu {
        width: 100%;
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        list-style: none;
        margin: 0;
        padding: 0;
        border-top: solid 1px white;
        transition: ease-in-out 0.2s;
        background: $prime;
        .dd-item {
            width: 100%;
            height: 50px;
            border-bottom: solid 1px white;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            a {
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: white;
                font-family: $font;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding-left: 20px;
            }
        }
    }
}
#active {
    background: darken($prime, 10%);
}
.nav-md-lg {
    display: none;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
        width: 95%;
        img {
            width: 300px;
            height: 100%;
        }
    }
}


footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $prime;
    p {
        font-family: $font;
        color: white;
    }
}

/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }